.titlebar-button>.toolbarbutton-icon {
	height: 17px !important;
	min-height: 17px !important;
	width: 17px !important;
	min-width: 17px !important;
}

.titlebar-button {
	padding-left: 6px !important;
	padding-right: 6px !important;
	padding-top: 6px !important;
}

.titlebar-min {
	list-style-image: url("active_min.png") !important;
	background-color: transparent !important;
}

.titlebar-min:hover {
	list-style-image: url("mouseover_min.png") !important;
	background-color: transparent !important;
}

/* maximize button */
.titlebar-max {
	list-style-image: url("active_max.png") !important;
}

.titlebar-max:hover {
	list-style-image: url("mouseover_max.png") !important;
	background-color: transparent !important;
}

/* close button */
.titlebar-close {
	list-style-image: url("active_close.png") !important;
}

.titlebar-close:hover {
	list-style-image: url("mouseover_close.png") !important;
	background-color: transparent !important;
}
