/* shadow side of tab */
.tabbrowser-tab[visuallyselected="true"] {
	box-shadow: 0 0 26px #ffffff !important; 
	/*try several blur number(px) & colors (#...)  to your taste*/
}

.tabs-newtab-button.toolbarbutton-1 .toolbarbutton-icon {
	background-color: unset !important;
	list-style-image: url("bluearrow.png") !important;
	opacity: 1 !important;
	border-radius: 0 !important;
	width: calc(2*var(--toolbarbutton-inner-padding)+27px) !important;
	height: calc(2*var(--toolbarbutton-inner-padding)+27px) !important;
	margin-left: 0px !important;
}
